[Unit]
Description=Cherry Haibao service
After=network.target

[Service]
Type=simple
WorkingDirectory=__APP_DIR__
EnvironmentFile=__ENV_FILE__
ExecStart=/usr/bin/npm run start
Restart=always
RestartSec=5
User=__APP_RUN_USER__

[Install]
WantedBy=multi-user.target
