DEPLOY_HOST=1.2.3.4
DEPLOY_USER=root
DEPLOY_SSH_PORT=22

REMOTE_BASE_DIR=/opt/cherry-deploy
REMOTE_APP_DIR=/opt/cherry
REMOTE_SHARED_DIR=/opt/cherry-deploy/shared
REMOTE_DATA_DIR=/opt/cherry-deploy/shared/data
REMOTE_ENV_FILE=/opt/cherry-deploy/shared/cherry.env

APP_SERVICE=cherry
APP_RUN_USER=root
SERVER_NAME=haibao.ballofleyna.cn
